/*-----------------------------------------------------------------------------------*/
/*	1.	CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,textarea {
	font: 12px/20px;	
	font:inherit;
	resize:none;
}

* { _noFocusLine: expression(this.hideFocus=true); } /* Removes dotted lines around links */




/* Supersized */
	
#supersized-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    text-indent: -999em;
}
#supersized {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -999;
    height: 100%;
    width: 100%;
}
#supersized img {
    width: auto;
    height: auto;
    position: relative;
    display: none;
    outline: none;
    border: none;
}
#supersized.speed img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
} /*Speed*/
#supersized.quality img {
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
} /*Quality*/
#supersized li {
    display: block;
    list-style: none;
    z-index: -30;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111;
}
#supersized a {
    width: 100%;
    height: 100%;
    display: block;
}
#supersized li.prevslide {
    z-index: -20
}
#supersized li.activeslide {
    z-index: -10
}
#supersized li.image-loading {
    background: #111;
    width: 100%;
    height: 100%;
}
#supersized li.image-loading img {
    visibility: hidden
}
#supersized li.prevslide img, #supersized li.activeslide img {
    display: inline
}


/* Common Styles */

body {
	color: #fff;
	font-family: Open Sans, sans-serif;
	font-weight: 300;
}

a {
	color: #2980b9;
	text-decoration:none;
	-webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}

a:focus , a:link, a:active {
	outline:none;
}

a:hover {
	color:#444;
}

#horario a:focus , #horario a:link, #horario a:active {
	outline:none;
	color:#FF0000;
}
o
#horario a:hover {
	color:#FFFFFF;
}

p {
	margin-bottom:20px;
	color: #e2e2e2;
}

.clear {
	clear:both;
}

h1 {
	font-size:32px;
	line-height:36px;
	margin-bottom:8px;	
	font-weight: 600;
}

h2 {
	font-size:24px;
	line-height:32px;
	margin-bottom:13px;
}

h3 {
	font-size:18px;
	line-height:24px;	
	margin-bottom:20px;	
}

h4 {
	font-size:16px;
	line-height:22px;
	margin-bottom:20px;	
}

h5 {
	font-size:14px;
	line-height:20px;
	margin-bottom:15px;
}

h6 {
	font-size:13px;
	line-height:20px;
	margin-bottom:20px;
	font-weight:600;
}	


#preloader {
 position:absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
 background-color:#2b2b2b; 
 z-index:99;
} 

#status {
 width:200px;
 height:200px;
 position:absolute;
 left:50%; 
 top:50%; 
 background-image:url(images/loader.gif);
 background-repeat:no-repeat;
 background-position:center;
 margin:-100px 0 0 -100px; 
}

#wrapper {
	width: 100%;
	height: 100%;
	display:block;
	overflow:hidden;
	position: fixed;
	
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}

.content-wrapper {
	margin: 40px 0 130px 65px;
	position: relative;
	float: left;
	width: 1024px;
	display: block;
	text-align: justify;
}

.logo {
	margin-bottom: 50px;
	float: right;
}

p {
	font-size: 14px;
	line-height: 18px;
}

#horario {
	font-size: 22px;
	font-weight: bold;
	line-height: 24px;
	
}
.separator {
	clear: both;
	display: block;
	width: 140px;
	height: 1px;
	background: #fff;
	opacity: 0.5;
	margin: 15px 0 30px;
}

.space {
	clear: both;
	display: block;
	width: 100%;
	height: 60px;
}	

#countdown {
	position:relative;
	display:block;
	overflow: hidden;
}		

.cd-item {
	float:left;
	background: url(images/countdown-tic.png) no-repeat scroll right center;
	margin-right: 30px;
	padding-right: 30px;
}

#countdown .last-cd {
	background: none;
}	

.cd-number {
	font-size: 60px;
}

.cd-word {
	font-size: 18px;
	margin-left: 5px;
}

#footer {
	position: fixed;
	bottom: 0;
	background: #fff;
	color: #686868;
	font-size: 12px;
	padding: 20px 0;
	width: 100%;	
	box-shadow: -1px 0 3px rgba(0, 0, 0, 0.4);	
}

ul.footer-info {
	overflow: hidden;
	margin-left: 65px;
	position: relative;
	float:left;
}

ul.footer-info i {
	color: #323232;
	margin-right: 10px;
}	

ul.footer-info li {
	display: inline;
	float:left;
	margin-right: 30px;
}

ul.social {
	overflow: hidden;
	display: block;
	position: absolute;
	top: -40px;
	left: 65px;
}

ul.social li {
	display:inline;
	float:left;
	font-size: 18px;
	margin-right: 10px;
}
ul.social li a {
	color: #fff;
	padding: 11px 0;
	display: block;
	width: 38px;
	text-align: center;
}

ul.social li a:hover {
	color: #323232;
	background: #fff;
}

ul.social i {
	
}

ul.tech {
        overflow: hidden;
        display: block;
        position: absolute;
        top: -40px;
        left: 755px;
}

ul.tech li {
	display:inline;
	float:right;
	font-size: 18px;
	margin-right: 10px;
}


.credits {
	float: right;
	margin-right: 10px;
	color: #323232;
}

div#paga {
	margin-right: 100px;
	margin-left: 50%;
	margin-top: -35px;
}

.columna1 {
position: relative;
width: 50%;
float: left;
}

.columna2 {
position: relative;
width: 50%;
float: right;
}
